
    <h1>ANGULAR MATERIAL</h1>
    <img src="../../favicon.ico" alt="">
    <ol>
      <li>
        <mat-form-field appearance="fill">
          <input matInput placeholder="Escribe aqui tu nombre" [(ngModel)]="name">
        </mat-form-field>
      </li>
        
      <li>
        <button  (click)="openDialog()" mat-raised-button color="warn" type="submit">Abrir dialog</button>
      </li>
        
      <li  *ngIf="animal">
        Tu deporte favorito es: <i>{{animal}}</i>
      </li>
    </ol>
    

